div {
    border: 1px solid #000
}
.container{
background-color: #cf8c91;
width: 250px;
}
.imagem-card{
    width: 250px;
}
.descricao-card{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;
}
.pre-card{
    font-family: Impact,'Arial Narrow Bold';
    font-weight: bold;
    color: #f3290e
}
.forma-de-pagamento{
    font-size: 10px;
    color: #333;
}
.botao-card{
    background-color: #fa6203;
    color: #fff;
    width: 100%;
    height: 40px;
}