@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background: url('../IMAGENS/Imagem_de_fundo.gif') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

.logo-container {
  position: fixed;
  top: 20px;
  left: 230px;
  transform: translateX(-50%);
  z-index: 10;
}

.logo-img {
  width: 500px;
  max-width: 150%;
  height: auto;
  image-rendering: pixelated;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 34, 34, 0.5); /* filtro escurecedor */
  z-index: -1;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}


.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon_image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 15%); /* '(X,Y)' */
    height: 18%;
}

.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name{
    color: #3a444d;
    text-transform: capitalize;
    display: inline-block;
}

.form{
  position: absolute;
  width: 70%;
  top: 62%;
  left: 12%;
  z-index: 10;
}

.input_search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: rgb(231, 121, 31);
    background-color: rgb(56, 48, 48);
    box-shadow: -2px 3px 0 #221f1f, -4px 6px 0 #443f3f;
}

.button:active{
    box-shadow: inset -4px 4px 0 #464141;
    font-size: 0.9rem;
}

.pokemon_details {
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translateX(-50%);
  color: rgb(245, 245, 245);
  font-size: 14px;
  text-align: left;
  background-color: rgba(61, 50vw, 50, 0.3);
  padding: 10px;
  border-radius: 10px;
  width: 67%;
}

